<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PKWT</title>
</head>
<body>
<table
        style="height: 18px; width: 100%; border-collapse: collapse"
        border="0"
>
    <tbody>
    <tr style="height: 18px">
        <td style="width: 10%; height: 18px; text-align: center; padding-bottom: 20px; ";>
            <img
                    src="https://lh5.googleusercontent.com/p/AF1QipMOa6vMFl7q-HIuHUxJ777KbL1PVr4kTt8lHHZX=w600-h321-p-k-no"
                    alt=""
                    width="100px"
            />
        </td>

        <td style="width: 80%; height: 18px; text-align: center">
            <h2
                    style="
                color: #5e9ca0;
                padding-left: 40px;
                padding-top: 20px;
                text-align: center;
                line-height: 0;
                margin-bottom: 0;
              "
            >
              <span style="color: #000000">
                <strong>
                  PT. ARTHA GUTAWA SEJAHTERA
                </strong>
              </span>
            </h2>
            <p style="color: #5e9ca0; text-align: center; font-size: 14px">
                <strong>
                <span style="color: #000000">
                  Gedung Waskita Rajawali Tower Lt.15, Jl. Soegija Pranata Kav.
                  13 No. 12
                  <br />
                </span>
                </strong>
                <strong>
                <span style="color: #000000">
                  Bidara Cina, Jatinegara &ndash; Jakarta Timur 13630 Telp. 021
                  50200290
                </span>
                </strong>
            </p>
        </td>
        <td style="width: 10%; height: 18px; text-align: center">
            <img
                    src="https://drive.google.com/uc?id=13sXCpT4uCB1xuxO0BR3cI_hnv25Ks23h"
                    alt=""
                    width="100px"
            />
        </td>
    </tr>
    </tbody>
</table>
<hr style="height: 3px; background-color: #333" />
<p style="text-align: center">
      <span style="text-decoration: underline">
        <strong>
          PERJANJIAN KERJA WAKTU TERTENTU (PKWT)
          <br />
        </strong>
      </span>
    <strong>$noKontrak</strong>
    <span style="text-decoration: underline">
        <strong><br /></strong>
        <br />
      </span>
</p>
<p style="text-align: justify">
    Perjanjian Kerja Waktu Tertentu PKWT ini (untuk selanjutnya disebut
    sebagai &ldquo;Perjanjian&rdquo;) dibuat dan ditanda tangani di
    $unitBisnis pada tanggal $tglMasukKerja, oleh dan antara :
</p>
<ol>
    <li style="text-align: justify">
        <strong>PT. Artha Gutawa Sejahtera</strong>
        , suatu Perseroan Terbatas yang didirikan berdasarkan hukum Negara
        Republik Indonesia beralamat di Gedung Waskita Rajawali Tower Lantai 15,
        Jl. Soegija Pranata Kavling 13 No. 12 Bidara Cina, Jatinegara - Jakarta
        Timur 13340, diwakili oleh Ir. Munib Lusianto, MM dalam hal ini
        bertindak dalam kedudukannya selaku Direktur PT. Artha Gutawa Sejahtera,
        dari dan oleh karenanya sah mewakili dan bertindak untuk dan atas nama
        PT. Artha Gutawa Sejahtera, untuk selanjutnya disebut sebagai &rdquo;
        <strong>PIHAK PERTAMA</strong>
        &rdquo;;
        <br />
        <br />
        Dan
        <br />
        <br />
    </li>
    <li style="text-align: justify">
        <b>$karyawanName</b>, Warga Negara Republik Indonesia, pemegang Kartu Tanda
        Penduduk (KTP) Nomor $nik, Jenis Kelamin $jenisKelamin , Tanggal Lahir
        $tanggalLahir, beralamat di $alamat, untuk selanjutnya disebut sebagai
        &ldquo;
        <strong>PIHAK KEDUA</strong>
        &rdquo;
    </li>
</ol>
<p style="text-align: justify">
    PIHAK PERTAMA dan PIHAK KEDUA secara bersama-sama disebut &ldquo;
    <strong>PARA PIHAK</strong>
    &rdquo; dan secara sendiri-sendiri disebut &ldquo;
    <strong>PIHAK</strong>
    &rdquo;, dengan sebelumnya menerangkan terlebih dahulu sebagai berikut:
</p>
<ol>
    <li style="text-align: justify">
        Bahwa PIHAK PERTAMA adalah badan hukum yang berbentuk Perseroan Terbatas
        yang salah satu usahanya bergerak di bidang
        <em>Jasa Pengadaan Tenaga Kerja/Buruh</em>
        (Alih Daya), dan bermaksud menyediakan tenaga kerja kepada
        <strong>$unitBisnis</strong>
        untuk ditempatkan di lokasi kerja
        <strong>$unitBisnis</strong>
        , yang selanjutnya disebut &ldquo;
        <em><strong>USER</strong></em>
        &rdquo;;
    </li>
    <li style="text-align: justify">
        Bahwa
        <em>USER</em>
        adalah Badan Usaha/Divisi/Unit Bisnis/Unit Kerja yang memiliki kegiatan
        usaha dimana membutuhkan sumber daya manusia yang memiliki kemampuan dan
        keahlian sesuai bidangnya;
    </li>
    <li style="text-align: justify">
        Bahwa PIHAK KEDUA memiliki kompetensi dan kemampuan di bidangnya terkait
        kebutuhan jasa tenaga kerja yang dibutuhkan oleh PIHAK PERTAMA untuk
        ditempatkan di lokasi kerja
        <em>USER</em>
        ;
    </li>
    <li style="text-align: justify">
        Bahwa PIHAK PERTAMA berkeinginan untuk menunjuk PIHAK KEDUA dan PIHAK
        KEDUA menerima penunjukan tersebut, sebagai pekerja waktu tertentu
        (tidak tetap) untuk ditempatkan di lokasi kerja
        <em>USER</em>
        berdasarkan ketentuan-ketentuan dan syarat-syarat dalam Perjanjian.
    </li>
</ol>
<p style="text-align: justify">
    Dengan demikian, PARA PIHAK sepakat untuk mengadakan dan saling
    mengikatkan diri ke dalam Perjanjian Waktu Kerja Tertentu dengan
    syarat-syarat dan ketentuan-ketentuan sebagai berikut :
</p>
<br />
<br />
<p style="text-align: center">
    <strong>PASAL 1</strong>
    <br />
    <strong>PENEMPATAN DAN LINGKUP PEKERJAAN</strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK PERTAMA dengan ini setuju untuk menerima PIHAK KEDUA sebagai
        pekerja waktu tertentu berdasarkan surat Nomor
        <strong>$requestNo</strong>
        Tanggal
        <strong>$requestDate</strong>
        <strong>
            Perihal Permohonan dijadikan Tenaga Kerja Outsourcing PT. Artha Gutawa
            Sejahtera untuk ditugaskan di $unitBisnis
        </strong>
        dan PIHAK KEDUA setuju untuk bekerja dengan PIHAK PERTAMA sesuai dengan
        ketentuan-ketentuan dan syarat-syarat dalam perjanjian ini.
    </li>
    <li style="text-align: justify">
        PIHAK PERTAMA akan mempekerjakan PIHAK KEDUA sebagai pekerja
        kantor/proyek yang ditempatkan dilokasi kerja
        <em>USER</em>
        dengan status/kedudukan sebagai pekerja waktu tertentu (tidak tetap) dan
        ditunjuk untuk bekerja dalam jabatan sebagai
        <strong>
            Petugas Senkom, PT. Pemalang Batang Tol Road
            <em>USER</em>
        </strong>
        (selanjutnya disebut &ldquo;
        <strong>Pekerjaan</strong>
        &rdquo;).
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA bersedia dan sanggup menerima dan melaksanakan tugas
        Pekerjaan sesuai dengan sifat jabatannya dengan seluruh kemampuan dan
        usaha terbaiknya serta dengan penuh rasa tanggungjawab. PIHAK KEDUA
        dengan ini menyatakan dan menjamin kesediaannya untuk mematuhi seluruh
        perintah atasan, tata tertib dan peraturan, serta kebijakan-kebijakan
        yang ditentukan PIHAK PERTAMA dan/atau
        <em>USER.</em>
    </li>
    <li style="text-align: justify">
        Ruang lingkup yang diserahkan oleh PIHAK PERTAMA kepada PIHAK KEDUA
        dituangkan dalam bentuk surat penugasan dan uraian Pekerjaan (Job
        Description) yang diberikan oleh
        <em>USER.</em>
    </li>
    <li style="text-align: justify">
        Surat penugasan dan uraian Pekerjaan sebagaimana tersebut dalam ayat (3)
        pasal ini ditandatangani oleh PARA PIHAK dan merupakan lampiran yang
        tidak terpisahkan dengan Perjanjian ini.
    </li>
    <li style="text-align: justify">
        PARA PIHAK sepakat bahwa PIHAK PERTAMA/
        <em>USER</em>
        berhak dan memiliki wewenang yang bersifat mutlak untuk menempatkan atau
        menentukan tugas, jabatan, serta tempat atau lokasi kerja PIHAK KEDUA
        dimanapun, termasuk namun tidak terbatas dalam hal diperlukan tugas lain
        untuk membantu unit bisni/unit kerja lain dilingkungan
        <em>USER</em>
        dan PIHAK KEDUA dengan ini menyatakan kesediaan dan persetujuannya.
    </li>
</ol>
<p style="text-align: center">
    <strong>
        PASAL 2
        <br />
        JANGKA WAKTU PERJANJIAN
    </strong>
</p>
<ol>
    <li style="text-align: justify">
        Perjanjian ini berlaku untuk jangka waktu 12 (Duabelas) bulan terhitung
        sejak
        <br />
        ditandatangani yaitu tanggal $tglMasukKerja sampai dengan tanggal
        $tglHabisKontrak.
    </li>
    <li style="text-align: justify">
        Perjanjian ini dapat diperpanjang atas kesepakatan para PIHAK sesuai
        dengan ketentuan Pasal 12, Perjanjian ini atau diakhiri sesuai dengan
        ketentuan Pasal 2 ayat (3) dan (4) Perjanjian ini.
    </li>
    <li style="text-align: justify">
        Apabila salah satu Pihak mengakhiri hubungan kerja sebelum berakhirnya
        jangka waktu Perjanjian, maka Pihak yang mengakhiri hubungan kerja
        tersebut diwajibkan untuk memberikan ganti kerugian kepada PIHAK
        PERTAMA/
        <em>USER</em>
        /PIHAK KEDUA sebesar Upah PIHAK KEDUA sesuai perhitungan sampai waktu
        seharusnya hubungan kerja berakhir (Pasal 62 Undang-Undang No. 13 Tahun
        2003 Tentang Ketenagakerjaan) kecuali apabila pengakhiran hubungan kerja
        terjadi karena hal-hal sebagaimana diatur dalam ayat (4) dibawah ini.
    </li>
    <li style="text-align: justify">
        PIHAK PERTAMA berhak untuk mengakhiri Perjanjian ini sebelum berakhirnya
        jangka waktu Perjanjian, tanpa kewajiban bagi PIHAK PERTAMA untuk
        memberikan ganti rugi, kompensasi, atau kewajiban-kewajiban lain sesuai
        dengan ketentuan ketenagakerjaan yang berlaku kepada PIHAK KEDUA apabila
        :
        <ol style="list-style-type: lower-alpha">
            <li style="text-align: justify">
                PIHAK KEDUA terbukti melakukan kesalahan berat sesuai Pasal 158 ayat
                (1) Undang-Undang Nomor 13 Tahun 2003 Tentang Ktenagakerjaan, serta
                peraturan yang berlaku antara lain sebagai berikut:
                <ol>
                    <li style="text-align: justify">
                        Penipuan, pencurian, penggelapan dan atau mengambil barang milik
                        PIHAK PERTAMA,
                        <em>USER</em>
                        atau teman kerja tanpa izin.
                    </li>
                    <li style="text-align: justify">
                        Memberikan keterangan palsu atau yang dipalsukan sehingga
                        merugikan PIHAK PERTAMA,
                        <em>USER</em>
                        atau kepentingan negara.
                    </li>
                    <li style="text-align: justify">
                        Mabuk, meminum minuman keras yang memabukkan, madat, memakai
                        obat bius/narkoba atau menyalahgunakan obat-obat terlarang. dan
                        memperdagangkan barang terlarang baik dalam lingkungan PIHAK
                        PERTAMA dan atau
                        <em>USER</em>
                        maupun diluar lingkungan PIHAK PERTAMA dan atau
                        <em>USER</em>
                        .
                    </li>
                    <li style="text-align: justify">
                        Melakukan perbuatan asusila atau perjudian ditempat kerja.
                    </li>
                    <li style="text-align: justify">
                        Menyerang, mengitimidasi atau menipu PIHAK PERTAMA,
                        <em>USER</em>
                        atau teman sekerja.
                    </li>
                    <li style="text-align: justify">
                        Menganiaya, mengancam secara fisik atau mental, menghina secara
                        kasar PIHAK PERTAMA,
                        <em>USER</em>
                        atau teman sekerja.
                    </li>
                    <li style="text-align: justify">
                        Membujuk teman sekerja untuk melakukan perbuatan yang
                        bertentangan secara hukum atau kesusilaan serta peraturan
                        perundangan yang berlaku.
                    </li>
                    <li style="text-align: justify">
                        Dengan ceroboh atau sengaja merusak, merugikan atau membiarkan
                        dalam keadaan bahaya barang milik PIHAK PERTAMA dan atau
                        <em>USER</em>
                        .
                    </li>
                    <li style="text-align: justify">
                        Dengan ceroboh atau sengaja merusak atau membiarkan diri atau
                        teman sekerjanya dalam keadaan bahaya.
                    </li>
                    <li style="text-align: justify">
                        Membongkar atau membocorkan rahasia PIHAK PERTAMA dan atau
                        <em>USER</em>
                        atau mencemarkan nama baik PIHAK PERTAMA dan atau
                        <em>USER</em>
                        dan atau keluarga pengusaha yang seharusnya dirahasiakan.
                    </li>
                </ol>
            </li>
            <li>
                PIHAK KEDUA tidak masuk kerja tanpa izin atau keterangan yang sah
                atau mangkir selama 5 (lima) hari kerja atau lebih dalam kurun waktu
                1 (satu) bulan, baik yang dilakukan secara berturut-turut ataupun
                tidak.
            </li>
            <li>
                Kemampuan dalam pelaksanaan tugas-tugasnya atau kinerja dan hasil
                kerja PIHAK KEDUA dinilai tidak memenuhi apa yang ditugaskan kepada
                PIHAK KEDUA berdasarkan penilaian dan pertimbangan PIHAK PERTAMA.
            </li>
            <li>
                PIHAK KEDUA melanggar ketentuan yang diatur dalam Perjanjian Kerja,
                Peraturan Perusahaan PIHAK PERTAMA maupun
                <em>USER</em>
                dan atau peraturan perundangan yang berlaku.
            </li>
        </ol>
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 3</strong>
    <br />
    <strong>WAKTU KERJA DAN ISTIRAHAT</strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK KEDUA bersedia mengikuti jam kerja yang diatur oleh
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        Sesuai dengan kebutuhan pelaksanaan pekerjaan dilokasi kerja
        <em>USER</em>
        PIHAK KEDUA bersedia bekerja secara bergiliran (shift) apabila
        diperlukan.
    </li>
    <li style="text-align: justify">
        Waktu kerja ditentukan 7 (tujuh) jam 1 (satu) hari dan 40 (empat puluh)
        jam 1 (satu) minggu untuk 6 (enam) hari kerja dalam 1 (satu) minggu atau
        8 (delapan) jam 1 (satu) hari dan 40 (empat puluh) jam 1 (satu) minggu
        untuk 5 (lima) hari kerja dalam 1 (satu) minggu.
    </li>
    <li style="text-align: justify">
        PIHAK PERTAMA dan/atau
        <em>USER</em>
        mempunyai hak untuk mengadakan perubahan waktu kerja dan PIHAK KEDUA
        dengan ini menyatakan bersedia dan sepakat untuk
        <br />
        melaksanakan sesuai dengan perubahan tersebut.
    </li>
</ol>
<p style="text-align: center">
    <strong>
        PASAL 4
        <br />
        PENGHASILAN DAN FASILITAS
    </strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK KEDUA berhak atas upah sebesar :
        <table
                style="width: 59.3909%; border-collapse: collapse; height: 110px"
        >
            <tbody>
            <tr style="height: 110px">
                <td style="width: 25%; height: 110px">
                    <p style="text-align: justify"><strong>Gaji Pokok</strong></p>
                    <p><strong>Tunjangan</strong></p>
                    <p><strong>Total Per bulan</strong></p>
                </td>
                <td style="width: 10.7868%; height: 110px">
                    <p style="text-align: justify"><strong>: Rp.</strong></p>
                    <p style="text-align: justify"><strong>: Rp.</strong></p>
                    <hr />
                    <p style="text-align: justify"><strong>: Rp.</strong></p>
                </td>
                <td style="width: 23.6041%; height: 110px">
                    <p><strong>$gajiPokok</strong></p>
                    <p><strong>$tunjangan</strong></p>
                    <hr />
                    <p><strong>$totalPerBulan</strong></p>
                </td>
            </tr>
            </tbody>
        </table>
        <strong>
            <strong>
                Terbilang : # $terbilang #
                <br />
            </strong>
        </strong>
        <strong>
            &nbsp;&nbsp;
            <br />
        </strong>
        Total Upah dan dibayarkan pada akhir bulannya yang akan dilakukan
        melalui transfer kepada rekening Bank PIHAK KEDUA yang terdaftar di
        bagian administrasi PIHAK PERTAMA (selanjutnya disebut
        &ldquo;Upah&rdquo;).
        <strong><br /></strong>
    </li>
    <li style="text-align: justify">
        Selain dari upah pada ayat 1 diatas, PIHAK PERTAMA memberikan
        bantuan/fasilitas
        <br />
        kepada PIHAK KEDUA berupa:
        <br />
        <ol style="list-style-type: lower-alpha">
            <li style="text-align: justify">
                Bantuan Uang Makan Rp. $uangMakan,-/perkehadiran;
            </li>
            <li style="text-align: justify">
                Bantuan Kesehatan menggunakan BPJS Kesehatan sesuai dengan ketentuan
                yang berlaku; dan
            </li>
            <li style="text-align: justify">
                BPJS Ketenagakerjaan sesuai dengan ketentuan yang berlaku;
            </li>
        </ol>
    </li>
    <li style="text-align: justify">
        PIHAK PERTAMA akan memberikan Tunjangan Hari Raya (THR) kepada PIHAK
        KEDUA dengan ketentuan sebagai berikut:
        <ol style="list-style-type: lower-alpha">
            <li style="text-align: justify">
                Jika PIHAK KEDUA telah bekerja selama 12 (duabelas) bulan secara
                terus menerus akan mendapat THR sebesar 1 (satu) bulan Upah;
            </li>
            <li>
                Jika PIHAK KEDUA telah bekerja 1 (satu) bulan secara terus menerus
                tetapi
                <br />
                kurang dari 12 (duabelas) bulan akan diberikan THR yang besarannya
                dihitung secara proposional sesuai masa kerja.
            </li>
        </ol>
    </li>
    <li style="text-align: justify">
        Pajak penghasilan (PPh. Pasal 21) atas Upah PIHAK KEDUA ditanggung oleh
        PIHAK
        <br />
        PERTAMA.&nbsp;
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA tidak dapat menuntut upah lainnya diluar dari apa yang
        disebutkan
        <br />
        dalam pasal ini.
    </li>
    <li style="text-align: justify">
        Lembur adalah waktu kerja yang melebihi 7 (tujuh) jam sehari dan 40
        (empatpuluh) Jam 1 (satu) minggu untuk 6 (enam) hari kerja atau 8
        (delapan) jam sehari dan 40 (empat puluh) jam 1 (satu) minggu untuk 5
        (lima) hari kerja (KEPMENAKER No. :KEP.102/IV/2004).
    </li>
    <li style="text-align: justify">
        Upah atas kerja lembur yang dilaksanakan oleh PIHAK KEDUA akan dihitung
        berdasarkan Surat Perintah Kerja Lembur yang disetujui dan
        ditandatangani oleh
        <em>USER</em>
        , atau sesuai dengan ketentuan yang berlaku di
        <em>USER</em>
        .
    </li>
</ol>
<p style="text-align: center">
    <strong>
        PASAL 5
        <br />
        INFORMASI RAHASIA
    </strong>
</p>
<ol>
    <li>
        Informasi Rahasia adalah Rahasia PIHAK PERTAMA dan/atau
        <em>USER</em>
        atau informasi
        <br />
        yang bersifat rahasia berdasarkan peraturan PIHAK PERTAMA dan/atau
        <em>USER</em>
        dan
        <br />
        ketentuan-ketentuan yang berlaku pada PIHAK PERTAMAdan/atau
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        Isi dari perjanjian ini dan semua informasi Rahasia harus dirahasiakan
        oleh PIHAK KEDUA dan hanya dapat diberitahukan kepada pihak lain dengan
        persetujuan terlebih dahulu secara tertulis dari PIHAK PERTAMA.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 6</strong>
    <br />
    <strong>KEWAJIBAN PIHAK PERTAMA</strong>
</p>
<ol>
    <li>
        PIHAK PERTAMA wajib untuk melaksanakan hak-hak PIHAK KEDUA sebagaimana
        <br />
        diatur dalam Pasal 4 Perjanjian ini.
    </li>
    <li>
        PIHAK PERTAMA wajib untuk memastikan
        <em>USER</em>
        akan menyediakan alat-alat kerja
        <br />
        yang diperlukan sesuai dengan spesifikasi Pekerjaan yang dilakukan oleh
        PIHAK
        <br />
        KEDUA.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 7</strong>
    <br />
    <strong>KEWAJIBAN PIHAK KEDUA</strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK KEDUA wajib melaksanakan tugas sebaik-baiknya dengan penuh
        tanggungjawab, sesuai dengan petunjuk PIHAK PERTAMA dan atau perintah
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA wajib mentaati dan mematuhi seluruh Peraturan Perusahaan,
        tata tertib dan instruksi serta kebijakan yang diberlakukan oleh PIHAK
        PERTAMA maupun yang berlaku dilokasi kerja
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA wajib mengganti kerugian yang diderita oleh PIHAK PERTAMA
        ataupun
        <em>USER</em>
        atas kehilangan dan/atau kerusakan barang ataupun aset yang terbukti
        dilakukan dan diakibatkan oleh kelalaian PIHAK KEDUA.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA tidak diperkenankan menggunakan fasilitas PIHAK PERTAMA
        dan/atau
        <em>USER</em>
        untuk keperluan pribadi.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA tidak berhak menuntut fasilitas/hak/kesejahteraan lain
        selain yang telah ditentukan/ditetapkan oleh PIHAK PERTAMA dan/atau
        <em>USER</em>
        .
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 8</strong>
    <br />
    <strong>TATA TERTIB DAN DISIPLIN KERJA</strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>wajib</strong>
        melaksanakan tugas sebaik-baiknya dengan penuh tanggungjawab, sesuai
        dengan petunjuk PIHAK PERTAMA dan atau perintah
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>harus</strong>
        sudah berada dilokasi kerja 5 (lima) menit sebelum Pekerjaan dimulai dan
        dilarang meninggalkan Pekerjaan sebelum waktunya kecuali mendapat izin
        dari atasannya dilokasi kerja
        <em>USER</em>
        .
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>wajib</strong>
        memelihara kerjasama dan saling menghormati satu sama laindemi
        terciptanya keharmonisan kerja.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>dilarang</strong>
        bersendau gurau dalam melaksanakan Pekerjaan sehingga
        <br />
        dapat dihindari sendini mungkin risiko kecelakaan kerja dan/atau
        kekeliruan dalam
        <br />
        melaksanakan Pekerjaan.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>wajib</strong>
        menggunakan alat-alat keselamatan kerja yang telah disediakan sesuai
        dengan sifat Pekerjaan.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>wajib</strong>
        mematuhi perintah atasannya dalam pelaksanaan Pekerjaan
        <br />
        sehari-hari di kantor/Proyek yang belum diatur secara lengkap dalam
        Perjanjian ini.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA
        <strong>wajib</strong>
        mematuhi ketentuan Tata Tertib, Peraturan Perusahaan yang
        <br />
        berlaku pada PIHAK PERTAMA maupun ditempat
        <em>USER</em>
        .
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 9</strong>
    <br />
    <strong>CUTI</strong>
</p>
<ol>
    <li style="text-align: justify">
        PIHAK KEDUA yang telah bekerja selama 12 (duabelas) bulan secara terus
        menerus, berhak atas cuti tahunan selama 12 (duabelas) hari kerja,
        dengan catatan cuti tersebut dapat dilaksanakan apabila PIHAK KEDUA
        telah bekerja minimal 6 (enam) bulan.
    </li>
    <li style="text-align: justify">
        Cuti tahunan tersebut pada ayat (1) pasal ini dapat diambil/digunakan
        sekaligus atau secara bertahap, sesuai dengan kebutuhan PIHAK KEDUA.
    </li>
    <li style="text-align: justify">
        Hak cuti tahunan menjadi gugur apabila PIHAK KEDUA tidak
        mengambil/menggunakannya.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 10</strong>
    <br />
    <strong>TIDAK MASUK KERJA TANPA UPAH</strong>
</p>
<ol>
    <li style="text-align: justify">
        Apabila PIHAK KEDUA tidak masuk kerja tanpa alasan yang jelas (mangkir)
        atau tanpa alasan yang dapat dipertanggung-jawabkan maka Upahnya tidak
        dibayarkan untuk hari-hari tidak bekerja tersebut sesuai dengan asas
        &rdquo;
        <strong>Tidak Bekerja Tidak</strong>
        <strong>Dibayar</strong>
        &rdquo; kecuali undang-undang menetapkan lain.
    </li>
    <li style="text-align: justify">
        PIHAK PERTAMA berhak untuk melakukan pemotongan Upah PIHAK KEDUA yang
        ditempatkan di
        <strong>USER</strong>
        , apabila PIHAK KEDUA tidak masuk kerja tanpa keterangan yang dapat
        diterima, kecuali dengan keterangan yang dapat dibuktikan sedang
        menjalani perawatan inap, atau berobat jalan berdasarkan Surat
        Keterangan Dokter. Pemotongan yang dilakukan adalah sebesar
        <strong>1/21 x upah sebulan per hari</strong>
        ketidakhadiran sampai dengan maksimal 25% (dua puluh lima persen) dari
        Upah.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 11</strong>
    <br />
    <strong>PENGUNDURAN DIRI</strong>
</p>
<ol>
    <li style="text-align: justify">
        Apabila PIHAK KEDUA mengundurkan diri sebelum berakhirnya jangka waktu
        Perjanjian ini, maka PIHAK KEDUA berkewajiban menyampaikan pemberitahuan
        secara tertulis perihal pengunduran diri kepada PIHAK PERTAMA
        selambat-lambatnya 30 (tigapuluh) hari sebelum tanggal pengunduran diri
        tersebut.
    </li>
    <li style="text-align: justify">
        Atas pengunduran diri tersebut, PIHAK KEDUA wajib membayar ganti rugi
        kepada PIHAK PERTAMA sebesar sisa bulan/masa kerja dikalikan Upah
        perbulan sebagaimana dimaksud dalam Pasal 4 ayat (1), terhitung pada
        saat mengundurkan diri sampai dengan jangka waktu Perjanjian berakhir.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 12</strong>
    <br />
    <strong>PERPANJANGAN WAKTU</strong>
</p>
<ol>
    <li style="text-align: justify">
        PARA PIHAK dapat memperpanjang jangka waktu Perjanjian berdasarkan
        kesepakatan PARA PIHAK.
    </li>
    <li style="text-align: justify">
        PARA PIHAK saling memahami dan sepakat bahwa Perjanjian ini tidak
        dimaksudkan untuk menjadikan PIHAK KEDUA sebagai pegawai tetap pada USER
        dan/atau PIHAK PERTAMA.
    </li>
    <li style="text-align: justify">
        Apabila PIHAK PERTAMA bermaksud untuk melakukan perpanjangan jangka
        waktu Perjanjian ini maka akan terlebih dahulu disampaikan kepada PIHAK
        KEDUA paling lambat 7 (tujuh) hari sebelum berakhirnya Perjanjian ini.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA bersedia melakukan segala sesuatu yang diperlukan untuk
        perpanjangan jangka waktu Perjanjian ini sebagai upaya untuk membuat
        perpanjangan tersebut tidak melanggar ketentuan perundang-undangan
        mengenai pembatasan masa berlaku Perjanjian Kerja Waktu Tertentu.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 13</strong>
    <br />
    <strong>PERSELISIHAN</strong>
</p>
<ol>
    <li style="text-align: justify">
        Perjanjian ini akan diatur oleh, dan ditafsirkan sesuai dengan hukum
        Negara Republik Indonesia.
    </li>
    <li style="text-align: justify">
        Apabila terjadi permasalahan/perselisihan antara PARA PIHAK maka PARA
        PIHAK sepakat untuk menyelesaikan secara musyawarah mufakat.
    </li>
    <li style="text-align: justify">
        Apabila jalan musyawarah mufakat tidak berhasil mencapai kata sepakat,
        maka PARA PIHAK sepakat untuk menyerahkan kepada Pengadilan Hubungan
        Industrial di Jakarta.
    </li>
</ol>
<p style="text-align: center">
    <strong>PASAL 14</strong>
    <br />
    <strong>PENUTUP</strong>
</p>
<ol>
    <li style="text-align: justify">
        Perjanjian Kerja Waktu Tertentu ini dibuat dan ditandatangani bersama
        dan telah dipahami oleh kedua belah pihak serta dengan kesadaran penuh
        dan tanpa ada unsur paksaan dari pihak manapun untuk dilaksanakan
        sebagaimana mestinya.
    </li>
    <li style="text-align: justify">
        PIHAK KEDUA dengan ini menyatakan tidak ada janji-janji, syarat-syarat
        atau pengertian lain apapun selain apa yang tercantum dalam perjanjian
        ini.
    </li>
    <li style="text-align: justify">
        Perjanjian Kerja Waktu Tertentu ini dibuat dalam rangkap 2 (dua) yang
        masing-masing sama bunyinya, ditanda tangani diatas meterai Rp 10.000,-
        dan mempunyai kekuatan hukum yang sama 1 (satu) rangkap dipegang oleh
        PIHAK PERTAMA dan 1 (satu) rangkap dipegang oleh PIHAK KEDUA.
    </li>
</ol>
<p>
    Demikian, Perjanjian Kerja ini dibuat dan ditandatangani pada tanggal yang
    disebutkan
    <br />
    diatas untuk dilaksanakan dan dipatuhi.
</p>
<p>&nbsp;</p>
<table
        style="height: 18px; width: 100%; border-collapse: collapse"
        border="0"
>
    <tbody>
    <tr style="height: 18px">
        <td style="width: 50%; height: 18px; text-align: center">
            <p><strong>PIHAK PERTAMA,</strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>IR. MUNIB LUSIANTO, MM</strong></p>
        </td>
        <td style="width: 50%; height: 18px; text-align: center">
            <p><strong>PIHAK KEDUA,</strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p><strong>$karyawanName</strong></p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>
